.playerImage{
    max-height: 600px;
    width: 80%;
}
.tailList{
    height: 75%;
}
.tailList1{
    position: absolute;
}
.playerAudio{
    width: 95%;
}
.image2{
    width: 65px;
    height: 65px;
}
#buscarTailSong:focus{
    box-shadow: none !important;
}
.spiner{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

// sm
@media (max-width: 767px){
    .tailList{
        height: 400px !important;
    }
    .tailList1{
        position: relative;
    }
}

// md
@media (max-width: 991px){
    .tailList{
        height: 65%;
    }
}