<div class="row">
    <!-- Reproductor de canciones -->
    <div class="col-12 col-md-6 col-lg-7 text-center align-self-center position-relative">
        <app-player #player (changeActualIndexEvent)="changeActualIndex($event)" (playNextSongEvent)="playNextSong()"></app-player>
    </div>
    <div class="mt-3 col-12 col-md-6 mt-md-0 col-lg-5">
        <h2 class="text-center">Canciones en cola</h2>
        <!-- Controles de la lista de canciones-->
        <div class="row p-3 mt-2 mb-1 bg-dark align-items-center rounded">
            <!-- Randomize tail songs -->
            <div class="col-8 col-sm-5 col-md-3 col-xl-5">
                <div (click)="randomizeTailSongs()" class="w-100 p-2 btn btn-secondary" title="Orden aleatorio">
                    <fa-icon [icon]="['fas','random']" size="lg" class="mx-2"></fa-icon>
                    <span class="d-inline d-md-none d-lg-none d-xl-inline">Randomizer</span>
                </div>
            </div>
            <!-- delete tail list of songs -->
            <div class="col-4 col-sm-2 col-md-3 col-xl-2">
                <div (click)="deleteAllTailSongs()" class="w-100 p-2 btn btn-secondary" title="Limpiar las canciones en cola">
                    <fa-icon [icon]="['fas','trash']" size="lg" class="mx-2"></fa-icon>
                </div>
            </div>
            <!-- Search song -->
            <div class="col-12 mt-3 col-sm-5 mt-sm-0 col-md-6 col-lg-6 col-xl-5">
                <div class="input-group" title="Buscar">
                    <label class="input-group-text" for="buscarTailSong">
                        <fa-icon [icon]="['fas','search']" size="lg"></fa-icon>
                    </label>
                    <input #searchSongPlayer (input)="inputSearchSongChange(searchSongPlayer)" value="" type="text"
                        class="border-0 form-control" placeholder="Song" id="buscarTailSong">
                    <label #cleanSearchSongPlayer [hidden]="!searchSongPlayer.value"
                        (click)="clickCleanSearchSong(searchSongPlayer)" title="limpiar"
                        class=" border-0 bg-white input-group-text" for="buscarTailSong">
                        <fa-icon [icon]="['fas','trash-alt']" size="lg"></fa-icon>
                    </label>
                </div>
            </div>
        </div>
        <!-- Fin controles de la lista de canciones en cola-->
        <div #ulScrollPlayer class="tailList position-relative overflow-auto"
        infiniteScroll 
        [infiniteScrollContainer]="ulScrollPlayer"
        [infiniteScrollDistance]="1" 
        [infiniteScrollThrottle]="200"
        (scrolled)="scrollDown()" 
        >
            <ul class="tailList1 w-100 list-group">
                <div *ngIf="!playerTail.length" class="alert alert-info text-center" role="alert">¡No hay canciones en cola!
                </div>
                <div *ngIf="!(playerTail|tailSongsFilter:filter).length&&playerTail.length"
                    class="alert alert-info text-center" role="alert">¡No hay canciones que coincidan con <strong>{{searchSongPlayer.value}}</strong>!
                </div>
                <li *ngFor="let song of playerTail|tailSongsFilter:filter|scrollDown:page" (click)="reproducirSong(song)" [class.active]="song.index==indexActualSong" title="Reproducir" class="list-group-item list-group-item-action cursor-pointer">
                    <div class="row">
                        <!-- Image -->
                        <div class="col-3 col-sm-2 col-md-3 col-xl-2 text-center align-self-center">
                            <div class="image2 rounded position-relative">
                                <img appSetImage [appSong]="song.song" [src]="song.song.imagePath" class="w-100 h-100" />
                                <mat-spinner *ngIf="song.isLoading" diameter="50" class="spiner position-absolute">
                                </mat-spinner>
                            </div>
                        </div>
                        <div class="col-7 col-sm-7 col-md-8 col-xl-7">
                            <!-- Title -->
                            <h4 class="">{{song.song.title}}</h4>
                            <!-- Artist -->
                            <span>{{song.song.artist}}</span>
                        </div>
                        <div class="col-2 col-sm-3 col-md-1 col-xl-3">
                            <fa-icon [icon]="['fas','ellipsis-v']" (click)="$event.stopPropagation()" [matMenuTriggerFor]="optionsMenuPlayer" size="lg" title="Opciones {{song.song.title}}"
                                class="options-button px-3 py-2 float-end"></fa-icon>
                            <mat-menu #optionsMenuPlayer="matMenu" xPosition="before" yPosition="above">
                                <button mat-menu-item (click)="openEditSong(song.song)" title="Editar {{song.song.title}}">
                                    <fa-icon [icon]="['fas','edit']" size="lg" class="optionsIcon"></fa-icon>
                                    <span>Editar</span>
                                </button>
                                <button *ngIf="!song.song.favorite" mat-menu-item
                                    (click)="toggleFavorite(song.song); $event.preventDefault()"
                                    title="Añadir {{song.song.title}} a favorito">
                                    <fa-icon [icon]="['fas','heart']" size="lg" class="optionsIcon"></fa-icon>
                                    <span>Favorito</span>
                                </button>
                                <button *ngIf="song.song.favorite" mat-menu-item
                                    (click)="toggleFavorite(song.song); $event.preventDefault()"
                                    title="Quitar {{song.song.title}} de favoritos">
                                    <fa-icon [icon]="['fas','heart']" style="color: red" size="lg" class="optionsIcon">
                                    </fa-icon>
                                    <span>Favorito</span>
                                </button>
                                <button mat-menu-item (click)="deleteSongTail(song.index)"
                                    title="Quitar {{song.song.title}} de la cola">
                                    <fa-icon [icon]="['fas','minus-square']" size="lg" class="optionsIcon"></fa-icon>
                                    <span>Quitar de la cola</span>
                                </button>
                                <button mat-menu-item (click)="deleteSong(song.song)" title="Eliminar {{song.song.title}}">
                                    <fa-icon [icon]="['fas','trash-alt']" size="lg" class="optionsIcon"></fa-icon>
                                    <span>Eliminar</span>
                                </button>
                            </mat-menu>
                            <fa-icon [icon]="['fas','minus-square']"
                                (click)="deleteSongTail(song.index);$event.stopPropagation()" size="lg"
                                title="Quitar de la cola {{song.song.title}}"
                                class="mt-2 d-none d-sm-inline d-md-none d-xl-inline float-end delete-button"></fa-icon>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>