.rowList {
    width: fit-content;
    max-width: 100%;
    flex-direction: row;
    box-sizing: border-box;
    overflow-y: hidden;
    overflow-x: scroll;

    li {
        margin: 5px;
        border: solid 1px rgb(200, 200, 200);

        &:first-child {
            margin-left: 0px;
        }

        &:last-child {
            margin-right: 0px;
        }
    }

    .rowImage {
        width: 200px;
        height: 200px;

        >img {
            width: 100%;
            max-height: 135%;
        }
    }

    .rowData {
        position: relative;
        color: #fff;
        height: calc(100% - 200px);
        background-color: rgba($color: #000, $alpha: 0.6);
    }
}