<div class="row">
    <div class="col-12 mb-3">
        <div #uploadMessages></div>
    </div>
    <!-- Controles de la lista de canciones-->
    <div class="col-12">
        <div class="row p-3 my-3 bg-dark align-items-center rounded">
            <!-- Play all -->
            <div class="col-4 col-md-3 col-lg-1 col-xl-2">
                <div (click)="playAllSongs()" class="w-100 p-2 btn btn-secondary" title="Reproducir todos">
                    <fa-icon [icon]="['far','play-circle']" size="lg" class="mx-2"></fa-icon>
                    <span class="d-none d-md-inline d-lg-none d-xl-inline">Play all</span>
                </div>
            </div>
            <!-- Play all random -->
            <div class="col-4 col-md-3 col-lg-1 col-xl-2">
                <div (click)="playAllRandom()" class="w-100 p-2 btn btn-secondary"
                    title="Reproducir todos aletoriamente">
                    <fa-icon [icon]="['fas','random']" size="lg" class="mx-2"></fa-icon>
                    <span class="d-none d-md-inline d-lg-none d-xl-inline">Play random</span>
                </div>
            </div>
            <!-- Sort list of songs -->
            <div class="col-4 col-md-2 col-lg-1">
                <ng-template [ngIf]="sort=='a-z'" [ngIfElse]="sortZA">
                    <div (click)="changeSortList('z-a')" class="w-100 p-2 btn btn-secondary"
                        title="Ordenar inverso al alfabeto">
                        <fa-icon [icon]="['fas','sort-alpha-down-alt']" size="lg" class="mx-2"></fa-icon>
                    </div>
                </ng-template>
                <ng-template #sortZA>
                    <div (click)="changeSortList('a-z')" class="w-100 p-2 btn btn-secondary"
                        title="Ordenar alfabeticamente">
                        <fa-icon [icon]="['fas','sort-alpha-down']" size="lg" class="mx-2"></fa-icon>
                    </div>
                </ng-template>
            </div>
            <!-- Search song -->
            <div class="col-12 mt-3 col-md-4 m-md-0 col-xl-3">
                <div class="input-group" title="Buscar">
                    <label class="input-group-text" for="buscar1">
                        <fa-icon [icon]="['fas','search']" size="lg"></fa-icon>
                    </label>
                    <input #searchSong (input)="inputSearchSongChange(searchSong)" type="text"
                        class="border-0 form-control" placeholder="{{attr|titlecase}}" id="buscar1">
                    <label #cleanSearchSong [hidden]="!searchSong.value" (click)="clickCleanSearchSong(searchSong)"
                        title="limpiar" class="border-0 bg-white input-group-text" for="buscar1">
                        <fa-icon [icon]="['fas','trash-alt']" size="lg"></fa-icon>
                    </label>
                </div>
            </div>
            <!-- Upload song -->
            <div class="col-12 mt-3 col-lg-5 m-lg-0 col-xl-4">
                <div class="input-group">
                    <input #newSong type="file" multiple="multiple" accept=".mp3" id="uploadSong" class="form-control">
                    <button (click)="addSong(newSong)" class="btn btn-primary" type="button">Agragar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin controles de la lista de canciones-->
    <div class="col-12">
        <label for="uploadSong" *ngIf="!(songsList$|async)!.length"
            class="w-100 alert alert-info text-center" role="alert">
            No hay canciones disponibles!. Haz click para agregar
        </label>
        <div *ngIf="!((songsList$|async)!|albumArtistGenreFilter:attr:filter).length&&(songsList$|async)!.length" class="alert alert-info text-center" role="alert">
            ¡No hay {{attr}} que coincida con <strong>{{searchSong.value}}</strong>!
        </div>
        <ul #ulScroll class="rowList p-0 list-group">
            <li *ngFor="let item of (songsList$|async)!|albumArtistGenreFilter:attr:filter:sort|scrollDown:page" infiniteScroll
                [scrollWindow]="false" [horizontal]="true" [infiniteScrollContainer]="ulScroll"
                [infiniteScrollDistance]="1" [infiniteScrollThrottle]="200" (scrolled)="scrollDown()"
                (click)="selectAttr(item[0]);$event.preventDefault();" title="Abrir lista de canciones para el {{attr}} {{item[1][0][attr]}}"
                [class.active]="item[0]===attrActiveName"
                class="list-group-item list-group-item-action cursor-pointer rounded">
                <!-- Image -->
                <div class="rowImage">
                    <img appSetImage [appSong]="item[1][0]" loading="lazy" [src]="item[1][0].imagePath"
                        class="rounded image1" />
                </div>
                <div class="rowData p-2">
                    <!-- Title -->
                    <h3 class="mb-2">{{item[1][0][attr].slice(0,20)}}</h3>
                    <!-- Artist -->
                    <span>{{item[1][0].artist}}</span>
                </div>
            </li>
        </ul>
    </div>
    <!-- <app-song-list *ngIf="attrActiveName&&((songsList$|async)!|songsAttrFilter:attr:attrActiveName).length" [songList]="(songsList$|async)!|songsAttrFilter:attr:attrActiveName" [attrList]="attr"></app-song-list> -->
    <app-song-list *ngIf="attrActiveName" [songList]="(songsList$|async)!|songsAttrFilter:attr:attrActiveName" [attrList]="attr"></app-song-list>
</div>
