<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <div class="navbar-brand" >MySongs</div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav w-100">
                <div [routerLink]="['/music','song','id']" routerLinkActive="active" class="nav-link cursor-pointer">Songs</div>
                <div [routerLink]="['/music','album','id']" routerLinkActive="active" class="nav-link cursor-pointer">Albums</div>
                <div [routerLink]="['/music','artist','id']" routerLinkActive="active" class="nav-link cursor-pointer">Artists</div>
                <div [routerLink]="['/music','genre','id']" routerLinkActive="active" class="nav-link cursor-pointer">Genre</div>
                <div [routerLink]="['/music','favorite','id']" routerLinkActive="active" class="nav-link cursor-pointer">Favorites</div>
                <div (click)="logout()" class="nav-link cursor-pointer" style="margin-left: auto;">Cerrar sesión</div>
            </div>
        </div>
    </div>
</nav>