<router-outlet></router-outlet>
<div class="row mt-5">
    <div class="my-3">
        <div #uploadMessages></div>
    </div>
    <h2 class="m-0 text-center">Canciones</h2>
    <!-- Controles de la lista de canciones-->
    <div class="col-12">
        <div class="row p-3 my-3 bg-dark align-items-center">
            <!-- Play all -->
            <div (click)="playAllSongs()" class="col-4 col-md-3 col-lg-1 col-xl-2">
                <div class="w-100 p-2 btn btn-secondary" title="Reproducir todos">
                    <fa-icon [icon]="['far','play-circle']" size="lg" class="mx-2"></fa-icon>
                    <span class="d-none d-md-inline d-lg-none d-xl-inline">Play all</span>
                </div>
            </div>
            <!-- Play all random -->
            <div (click)="playAllRandom()" class="col-4 col-md-3 col-lg-1 col-xl-2">
                <div class="w-100 p-2 btn btn-secondary" title="Reproducir todos aletoriamente">
                    <fa-icon [icon]="['fas','random']" size="lg" class="mx-2"></fa-icon>
                    <span class="d-none d-md-inline d-lg-none d-xl-inline">Play random</span>
                </div>
            </div>
            <!-- Sort list of songs -->
            <div class="col-4 col-md-2 col-lg-1">
                <ng-template [ngIf]="sort=='a-z'" [ngIfElse]="sortZA">
                    <div (click)="changeSortList('z-a')" class="w-100 p-2 btn btn-secondary" title="Reproducir todos aletoriamente">
                        <fa-icon [icon]="['fas','sort-alpha-down']" size="lg" class="mx-2"></fa-icon>
                    </div>
                </ng-template>
                <ng-template #sortZA>
                    <div (click)="changeSortList('a-z')" class="w-100 p-2 btn btn-secondary" title="Reproducir todos aletoriamente">
                        <fa-icon [icon]="['fas','sort-alpha-down-alt']" size="lg" class="mx-2"></fa-icon>
                    </div>
                </ng-template>
            </div>
            <!-- Search song -->
            <div class="col-12 mt-3 col-md-4 m-md-0 col-xl-3">
                <div class="input-group" title="Buscar">
                    <label class="input-group-text" for="buscar1"><fa-icon [icon]="['fas','search']" size="lg"></fa-icon></label>
                    <input #searchSong (input)="inputSearchSongChange(searchSong)" type="text" class="border-0 form-control" placeholder="Song" id="buscar1">
                    <label #cleanSearchSong [hidden]="!searchSong.value" (click)="clickCleanSearchSong(searchSong)" title="limpiar" class="border-0 bg-white input-group-text" for="buscar1"><fa-icon [icon]="['fas','trash-alt']" size="lg"></fa-icon></label>
                </div>
            </div>
            <!-- Upload song -->
            <div class="col-12 mt-3 col-lg-5 m-lg-0 col-xl-4">
                <div class="input-group">
                    <input #newSong type="file" multiple="multiple" accept=".mp3" id="uploadSong" class="form-control">
                    <button (click)="addSong(newSong)" class="btn btn-primary" type="button">Agragar</button>
                </div>
            </div>
        </div>    
    </div>
    <!-- Fin controles de la lista de canciones-->
    <div class="col-12">
        <app-song-list [filter]="filter" [sort]="sort"></app-song-list>
    </div>
</div>