<div class="login position-absolute">
    <form (submit)="login()" [formGroup]="loginForm">
        <div class="row border">
            <h2 class="text-center my-3">Inciar Sesión</h2>
            <div class="col-12 mb-3">
                <mat-form-field class="w-100 example-full-width" appearance="fill">
                    <mat-label>Correo</mat-label>
                    <input matInput type="email" placeholder="Correo" formControlName="email">
                    <mat-error *ngIf="getError('email','required')">Correo electronico requerido</mat-error>
                    <mat-error *ngIf="getError('email','email')">Por favor ingreasa un correo electronico valido</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12 mb-3">
                <mat-form-field class="w-100 example-full-width" appearance="fill">
                    <mat-label>Contraseña</mat-label>
                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                    <mat-error *ngIf="getError('password','required')">Contraseña requerida</mat-error>
                </mat-form-field>
            </div>
            <div class="col-12">
                <a href="" class="text-left">Olvide mi contraseña</a>
            </div>
            <div mat-dialog-actions class="w-100">
                <button mat-raised-button color="primary"  class="w-100 mt-3">Iniciar Sesión</button>
            </div>
            <div mat-dialog-actions class="w-100">
                <button mat-raised-button [routerLink]="['/user/create-acount']" color="primary" (click)="$event.preventDefault()" class="w-100 mt-3">Crear una cuenta</button>
            </div>
        </div>
    </form>
</div>
    

    
